{erl_opts, [
  {platform_define, "(R12|R13|R14|R15|R16|17)", 'OLD_RANDOM'}
]}.

{plugins, [
     {rebar3_proper, {git, "https://github.com/hammerandchisel/rebar3_proper.git", {ref, "e0115e673378ead7adcb85c59a272837fcc9027d"}}}
]}.

{profiles, [
  {test, [
    {deps, [
        {proper, {git, "https://github.com/manopapad/proper.git", {tag, "v1.2"}}}
    ]}
  ]}
]}.
